// Button colors
$primary-button-color: rgb(58, 60, 63); // used for primary buttons (digits, etc.)
$secondary-button-color: rgb(48, 51, 54); // used for secondary buttons (operators ,etc.)
$primary-pressed-color: rgb(41, 41, 41); // used for primary buttons when pressed

// Other colors
$primary-text-color: white; // used for text on buttons and display
$display-color: rgba(0,0,0,0.5); // used for display background
$calculator-color: rgb(62, 62, 62); // used for calculator background