.calculator-root {
  -fx-background-color: rgb(62, 62, 62);
}
.calculator-root .settings-container {
  -fx-background-color: rgb(62, 62, 62);
  -fx-padding: 10px;
  -fx-spacing: 10px;
}
.calculator-root .settings-container .menu-button {
  -fx-background-color: rgb(62, 62, 62);
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 8px;
  -fx-background-radius: 5px;
}
.calculator-root .settings-container .calculator-type {
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-padding: 5px 8px;
  -fx-font-weight: bold;
}
.calculator-root .display-container {
  -fx-padding: 10px;
  -fx-spacing: 5px;
}
.calculator-root .display-container .expression-display {
  -fx-font-size: 18px;
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-text-fill: white;
  -fx-alignment: center-right;
  -fx-padding: 5px 10px;
}
.calculator-root .display-container .main-display .display-type {
  -fx-font-size: 12px;
  -fx-text-fill: rgba(229, 245, 0, 0.6);
  -fx-font-weight: bold;
  -fx-alignment: center-right;
}
.calculator-root .display-container .main-display .calculator-display {
  -fx-font-size: 32px;
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-text-fill: white;
  -fx-alignment: center-right;
  -fx-pref-height: 60px;
  -fx-padding: 6px 10px 10px 10px;
}
.calculator-root .button-container {
  -fx-padding: 10px;
  -fx-spacing: 5px;
  -fx-alignment: center;
}
.calculator-root .calculator-button, .calculator-root .calculator-function {
  -fx-font-size: 18px;
  -fx-pref-width: 50px;
  -fx-pref-height: 50px;
  -fx-max-width: Infinity;
  -fx-max-height: Infinity;
  -fx-background-radius: 5px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 2, 0, 0, 1);
}
.calculator-root .primary-button {
  -fx-background-color: rgb(58, 60, 63);
  -fx-text-fill: white;
  -fx-font-size: 18px;
}
.calculator-root .primary-button:hover {
  -fx-background-color: rgb(48, 51, 54);
}
.calculator-root .primary-button:pressed {
  -fx-background-color: rgb(41, 41, 41);
}
.calculator-root .secondary-button {
  -fx-background-color: rgb(48, 51, 54);
  -fx-text-fill: white;
  -fx-font-size: 18px;
}
.calculator-root .secondary-button:hover {
  -fx-background-color: rgb(58, 60, 63);
}
.calculator-root .secondary-button:pressed {
  -fx-background-color: rgb(41, 41, 41);
}
.calculator-root .memory-button {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: white;
  -fx-font-size: 16px;
}
.calculator-root .memory-button:hover {
  -fx-background-color: rgb(48, 51, 54);
}
.calculator-root .memory-button:pressed {
  -fx-background-color: rgb(41, 41, 41);
}
.calculator-root .equals {
  -fx-background-color: rgb(225, 131, 217);
  -fx-text-fill: rgb(0, 0, 0);
}
.calculator-root .equals:hover {
  -fx-background-color: rgb(154, 90, 149);
}
.calculator-root .equals:pressed {
  -fx-background-color: rgb(177, 54, 164);
}

.side-panel {
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-padding: 10px;
  -fx-spacing: 10px;
}
.side-panel .tab-buttons {
  -fx-padding: 5px;
  -fx-spacing: 5px;
}
.side-panel .tab-buttons .tab-button {
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-padding: 8px;
  -fx-background-radius: 5px;
}
.side-panel .historyMemory-panel {
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-spacing: 5px;
}

.icon-button {
  -fx-background-color: transparent;
  -fx-padding: 5;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

/*# sourceMappingURL=style.css.map */
